.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    z-index: 99;
    background-color: aliceblue;
}

.navbar-container .logo-search-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .logo-search-div input {
    padding: 8px 10px;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 18px;
}

.navbar-container .navs ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-container .navs ul li {
    margin: 6px 15px;
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
}